@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation


<Router AppAssembly="@typeof(App).Assembly">
   <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>抱歉，找不到該頁面。</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("login");
    }
}