@inherits LayoutComponentBase

<!DOCTYPE html>
<html>
<head>
    <title>用藥提醒系統</title>
    <link href="~/css/Login.css" rel="stylesheet" />
    <!-- Bootstrap 或其他樣式框架的引用 -->
</head>
<body>
    <div class="container">
            <h1>用藥提醒系統</h1>
            <nav>
                <ul>
                    <li><a href="/">首頁</a></li>
                    <!-- 其他導航連結 -->
                </ul>
            </nav>
        <main>
            <h3>登入</h3>
            <hr />

            <!-- 登入頁面的內容 -->
            @Body
        </main>
        <footer>
            <!-- 放置頁腳信息 -->
            <p>&copy; 2023 用藥提醒系統</p>
        </footer>
    </div>
</body>
</html>

