@inherits LayoutComponentBase

<div class="container">
    <div class="card">
        <div class="card-header" style="height:10%">
            <div style="margin:10px;">

                <div class="row">
                    <div class="col-8">
                        <img src="wwwroot\Logo.png" style="align-self:center" />

                    </div>


                    <div class="col-8 text-center">
                        <span style="color:black; font-size:24px">您好，歡迎登入用藥提醒系統</span>

                    </div>
                </div>

            </div>
        </div>
        <div class="card-body" Style="background-color:white; min-height:500px">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div style="margin:100px 0">
                        @Body
                    </div>
                </div>

            </div>
        </div>

        <div class="card-footer">

            <small class="text-muted">Copyright @Year 用藥提醒系統  Powered by .NET 8.0 </small>

        </div>
    </div>
</div>
@code {

    private const string ProductionName = "用藥提醒系統";
    private int Year = DateTime.Now.Year;

}
